<a href="https://colab.research.google.com/github/faithkane3/e_python/blob/main/she_code_python_crash_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src=https://i.pinimg.com/564x/6a/45/ae/6a45ae8f4b5354ecff6143199204edee.jpg width="500">

# Welcome to My Python Data Types Crash Course!

<img src=http://cise-egypt.com/wp-content/uploads/2019/09/WELCOME-ST-IVES.jpg width="125">


This tutorial is a basic intro to:
- the Python data types `int`, `float`, and `str`.
- operators that allow us to do math and make comparisons like `+`, `-`, `==`, and `!=`.
- some common built-in functions like `len()`, `type()`, and `input()`.

## Getting Started with Your Own Notebook

<img src=https://i.pinimg.com/564x/6f/4a/74/6f4a74413474812a02c27e723ff90594.jpg width="100">

- Check out the Google Colab tutorials [here](https://dataskills101.github.io/notebooks).
- Create your own notebook to work in -> Click the 'File' tab in the upper-left part of the menu bar and click 'Save a copy in Drive' to create your own copy of my Google Colab notebook that you can edit and save.
- As you add new cells with your own practice code to this notebook, be sure to save your work by either clicking on the 'File' tab in the menu bar and 'Save' or using `cmd+S`.

### Notebook Orientation

<img src=https://i.pinimg.com/564x/d5/8f/64/d58f6442180b46ded48f7fbb3a1be86b.jpg width="100">

- This notebook is composed of cells. Each cell will contain either text or Python code.
- To run the Python code cells, click the "play" button next to the cell or click your cursor inside the cell and do "Shift + Enter" on your keyboard. 
- Run the code cells in order from top to bottom, because order matters in programming and code.

### Troubleshooting Your Notebook

<img src=https://i.pinimg.com/564x/5b/1f/a9/5b1fa906291859ee49cee43c5e1be0d6.jpg width="100">

- If the notebook appears to not be working correctly, then restart this environment by going up to **Runtime** then select **Restart Runtime**. 
- If the notebook is running correctly, but you need a fresh copy of this original notebook, go [here](https://colab.research.google.com/drive/1Io39BlBOYHn1y22_zRfniXhdXE9s-huU?usp=sharing) and repeat the steps above in 'Getting Started'.
- Save frequently (`cmd+S`) and save often, so you have access to all of your exercise solutions!

___

### <font color=red>What Makes Python So Great?</font>

<img src=https://i.pinimg.com/564x/c2/6d/64/c26d6441e4cc62a1dbe47f0e4f07a8cb.jpg width="150">


Put simply...

- Python was designed for readability, so it's very user friendly. It is similar to reading English with influences from math.


- Python doesn't use all the semicolons, parentheses, and brackets between your commands like many other languages use. It looks very clean because it uses white space and indentation instead!


- Python can do more with less code than many programs. That's awesome!

___

### <font color=orange>So What Are We Going to do Today?</font>

<img src=https://camdenkelly.com/wp-content/uploads/2019/04/question-mark.png width="100">


- In this workshop, we will learn just enough about python to write some code that prompts a user for input and based on what they enter, gives them some type of feedback.

___

### <font color=green>Now What?</font>

- Let's get comfortable running cells in our notebook while we learn a little about Python data types.

- Future Practice: click [here](https://www.pythoncheatsheet.org/#The-Zen-of-Python) for a great Python cheatsheet that covers pretty much any basic thing you might want to know and try out in your notebook on your own time.

You can run the following right in your Jupyter Notebook to find out what version of python you are using:

In [1]:
!python --version

Python 3.6.9

___

#### `len()` and `type()` functions

I want to introduce two python functions nice and early because I will use them a lot! I can use the built-in function `len()` to return the number of elements in a sequence like a string or a list. I can use the built-in function `type()` to check my data type.

**I can use the built-in function len() to return the number of elements in a sequence object or string.**

In [ ]:
# Assign a list of numbers to a variable names numbers. We'll learn more about lists later...

numbers = [1, 2, 3, 4, 5, 6]

In [ ]:
# Pass my numbers variable to the built-in length function to return the number of elements in numbers.

len(numbers)

In [ ]:
# I can use the built-in function type() to return the type of object I have passed as an argument.

type(numbers)

list

In [ ]:
# Let's try this with another list. We'll assign the list to the variable colors.

colors = ['red', 'yellow', 'orange', 'purple', 'blue', 'green']

In [ ]:
# How many elements are contained in the list named colors?

In [ ]:
# What is the data type of colors?

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

## Data Types

![Data Type Image](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRmNGBEKQT8nwNYhJUPkl0Kjm-PWMmJKIw_ng&usqp=CAU)

___

#### **Numeric Types ->** `int`, `float`

An `int` is a whole number and a `float` is a decimal number.

In [ ]:
# What is the data type of the number 100?

In [ ]:
# What is the data type of 10.5?

___

#### **Sequence Types ->** `str`, `list`, `tuple`, `range`

We will be examining string and list data types in this notebook.

**A Python String** can be surrounded by single or double quotation marks and is an immutable object; that means we can't change or mutate a string object. I can have an empty string with no characters or a string can contain multiple words, numbers, symbols, and whitespace characters. Click [here](#strings) to see what you can do with strings.

In [ ]:
# What is the data type of 'Python rocks!'?

In [ ]:
# How many characters are in 'Python rocks!'?

In [ ]:
# What is the data type of 'a'?

In [ ]:
# How many characters are in 'a'?

In [ ]:
# What is the data type of ''?

In [ ]:
# How many characters are in ''?

In [ ]:
# What is the data type of my_name?

___

**A Python list** can contain elements of different data types and is a mutable object. Duplicate values are allowed. *Notice the square brackets surrounding the elements.* Click [here](#lists) to see what you can do with lists.

I can create a Python list in several different ways:

In [ ]:
# I can create an empty list as simply as this with the list constructor...

new_empty_list = []

In [ ]:
# Run this cell to display the new_empty_list.

new_empty_list

[]

In [ ]:
# Can you display the data type of new_empty_list?

In [ ]:
# I can create a populated list from the very start; notice it can contain various data types.

mixed_list = [1, 3.5, 'apple']

In [ ]:
# Run this cell to 

mixed_list

[1, 3.5, 'apple']

___

#### **Boolean Type ->** `bool`

Boolean values, `True` and `False`, are not strings, so they do not go in quotation marks, and they are case sensitive. Rather they inform me if my expression or condition logic evaluates to `True` or `False`. It's common to hear that a value is truthy or falsy. You can also think of boolean values as binary integers in that `True == 1` and `False == 0`.

In [ ]:
# The lengths of these two strings are not the same; what do you think this will return?

len('violet') == len('blue')

In [ ]:
# What do you think will be returned if I run this cell?

type(len('violet') == len('blue'))

In [ ]:
# What will running this cell return?

False != True

In [ ]:
# What will this comparison return?

True == 1

In [ ]:
# And what do you think THIS comparison will return?

False == 0

___

#### **Set Type ->** `set`

**A Python set** object is an unordered and unindexed collection that is immutable and contains only unique values. *Notice the curly brackets.* I've opted to focus on list and dictionary methods in this basic notebook, but [here](https://www.w3schools.com/python/python_ref_set.asp) is a link to set methods for future use. They are quite useful when looking for differences or similarities between elements in different sequences.

In [ ]:
# Here I use curly brackets to create a set instead of the square brackets for lists.

a_set = {1, 1, 2, 5}

In [ ]:
# Check the data type of your a_set variable.

In [ ]:
# Since a set can only contain unique elements, what do you think running this cell will return?

len(a_set)

When I use the built-in `len()` function, I see that only the unique elements in the set are counted. *This can come in very handy when checking for unique elements in a list.*

In [ ]:
# Here I use square brackets to create a list containing the same elements as in my set.

a_list = [1, 1, 2, 5]

In [ ]:
# How many elements are in a_list?

In [ ]:
# What do you think running this cell will return? Why?

len(a_list) == len(a_set)

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

## Operators

Here are some quick reference tables for different kinds of Python operators. We'll be using these in action throughout this notebook.

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

#### Comparison Operators

![Comparison Operator Image](https://slideplayer.com/slide/6506861/22/images/3/Python+Comparison+Operators%3A.jpg)

___

#### Logic Operators

![Logic Operator Image](https://slide-finder.com/luke/storage/www.tnstate.edu-=-faculty-=-fyao-=-COMP3050-=-Py-Slides-2/jpg/res-06.jpg)

___

#### Arithmetic Operators

![Arithmetic Operators Image](https://i.imgur.com/PVOe4o9.jpg)

In [ ]:
# What is the remainder of 10 divided by 2?

In [ ]:
# What is the remainder of 253 divided by 2?

In [ ]:
# What is 125 squared?

In [ ]:
# What is 200 squared?

___

## String Operations

What can we do with strings?

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

### String Methods

There are a ton of useful built-in methods that can be accessed using dot notation with Python string variables. To check out some of these methods, let's create a variable that holds a string as an example. To check out way more, check the doc [here](https://www.tutorialspoint.com/python/python_strings.htm).

In [ ]:
# Assign your first and last name, instead of mine, to a variable named my_name.

my_name = 'Faith Kane'

In [ ]:
# Can you check the data type of my_name?

___

#### `.lower()`, `.upper()`, `.capitalize()`, `.title()`, `swapcase()`

These string methods transform the characters in my string to either lowercase or uppercase in various ways. Check out the examples below:

In [ ]:
# What do you think each of these functions will do to your string variable, my_name?

my_name.lower()

In [ ]:
my_name.upper()

In [ ]:
my_name.capitalize()

In [ ]:
my_name.title()

In [ ]:
my_name.swapcase()

In [ ]:
# Using a string method doesn't mutate my original string; it returns a copy I can use or assign.

my_name

___

#### `.islower()`, `.isupper()`

I can use these methods to return a bool value if all of the characters in my string are lowercase or uppercase.

In [ ]:
# I can assign my string in all caps to a variable for further use.

caps = my_name.upper()
caps

In [ ]:
# I can check my string for all upper- or all lowercase letters. Will this return True or False?

caps.isupper()

In [ ]:
# What boolean value will running this string method return?

caps.islower()

___

#### `.strip()`, `.replace()`

These string methods are useful to perform a little string cleanup by removing any whitespace from the beginning or end of my string and replacing a string with another string.
```python
# default for strip is to take out whitespace; `[chars]` is optional.

str.strip([chars])
str.lstrip([chars])
str.rstrip([chars])

# default replaces all occurences of the old with the new; this can be adjusted.

string.replace(old, new, [count=-1])
```

In [ ]:
a_string = ' I am a string. I am a messy string! '

In [ ]:
# Strip whitespace from beginning and end of string.

a_string.strip()

'I am a string. I am a messy string!'

In [ ]:
# Strip whitespace from beginning of string.

a_string.lstrip()

'I am a string. I am a messy string! '

In [ ]:
# Strip whitespace from end of string.

a_string.rstrip()

' I am a string. I am a messy string!'

In [ ]:
b_string = '!?I have junk at the front I don\'t need.'

In [ ]:
# The default is whitespace, but I can strip out other characters as well.

b_string.strip('!?')

"I have junk at the front I don't need."

___

In [ ]:
a_string.replace('string', 'something')

' I am a something. I am a messy something! '

In [ ]:
# I can pass in a number of occurences to replace if I don't want to replace them all.

a_string.replace('string', 'something', 1)

' I am a something. I am a messy string! '

In [ ]:
# I can chain these methods together, too! I can replace and strip at the same time.

a_string.replace('string', 'something', 1).strip()

'I am a something. I am a messy string!'

___

#### `.isalnum()`, `.isalpha()`, `.isdigit()`, `.isspace()`

These handy string methods return a bool value telling me if all of the characters in the string are either alphanumeric, alphabetic, digits,  or tabs, spaces, or newlines respectively.

In [ ]:
# Define variables for use below

alpha = 'alphabetic'
alphanumeric = 'unit9'
digits = '210'

In [ ]:
alpha.isalpha()

True

In [ ]:
alphanumeric.isalnum()

True

In [ ]:
digits.isdigit()

True

In [ ]:
digits.isspace()

False

___

#### `.startswith()`, `.endswith()`

I can return a bool value indicating if a string starts or ends with a substring I pass as an argument.
```python
# I have to pass a value, but specifying the index position at which to start and end my search is optional.

str.startswith(value, start, end)

# The same applies here.

str.endswith(value, start, end)
```

In [ ]:
e_string = 'automobile'

In [ ]:
e_string.startswith('auto')

True

___

#### `.count()`

I can count the number of occurences of a particular value in a string. The starting and ending index values are optional parameters that allow me more precision if I need it.
```python
# I have to pass a value, but specifying the index position at which to start and end my search is optional.

str.count(value, start, end), where :
```

In [ ]:
# There are two o characters in my e_string.

e_string.count('o')

2

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

**String Concatenation** allows me to combine strings using the `+` operator. *When a built-in operator or function displays different behaviors based on the type of object it is used with, this is called* **Operator Overloading.**

In [ ]:
greeting = 'Hi'
name = 'there!'

print(greeting + ' ' + name)

Hi there!

___

**Comments** in this section? Sure, why not?!

In [ ]:
# You can use a hashtag to add comments to your code.

In [ ]:
'''
You can use triple quotes, single or double, 
to write multi-line comments or add docstrings
to functions, which we'll see in the next notebook.
'''

"\nYou can use triple quotes, single or double, \nto write multi-line comments or add docstrings\nto functions, which we'll see in the next notebook.\n"

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

### String Indexing & Slicing

**Positive String Indexing**

Python assigns a number to each character in a string, starting from 0 counting up to the last character in the string. We use these numbers to access specific characters in a string or elements in other sequences like lists or tuples.

![string indexing image]()

**Negative String Indexing**

Python also allows us to reference characters in a string using negative indexing that assigns -1 to the last character in the string. Negative indexing is very useful when you don't know how many characters are in a string, but you want to grab the last one or two only. *We will see this same indexing system when we dive into Python lists, too.*

**The Indexing Operator (square brackets) `[]`** allow me to isolate a character in a string by passing in a number representing the index position of a specific character.

In [ ]:
e_string

'automobile'

In [ ]:
# I can grab the first character in a string.

e_string[0]

'a'

In [ ]:
# I can grab the last character in a string.

e_string[-1]

'e'

___

**String Slicing**

I can slice a string using the same bracket notation as above; slicing allows me to isolate multiple characters in a string.

```python

str[start (inclusive): stop (exclusive): step]
```

In [ ]:
# I can leave out the start index if I want to start from 0.

e_string[:4]

'auto'

In [ ]:
# I can leave out the column index if I want to end at the end or -1.

e_string[4:]

'mobile'

In [ ]:
# I can reverse my string by passing -1 as my step argument with default start and stop.

e_string[::-1]

'elibomotua'

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

#### `in`, `not in` 

These are two very useful membership operators used to verify if a string contains a certain substring or character. *These will be useful with other sequence types, as well.*

In [ ]:
# Define variables for use below.

vowels = 'aeiou'
o_string = 'o'
p_string = 'P'

In [ ]:
# I can use the .lower() method on my string to catch any capital letters in my string.

o_string.lower() in vowels

True

In [ ]:
p_string.lower() not in vowels

True

In [ ]:
# Print out the string stored in my `b_string` variable.

print(b_string)

!?I have junk at the front I don't need.

In [ ]:
'junk' in b_string

True

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

## List Operations

<hr style="border-top: 10px groove salmon; margin-top: 1px; margin-bottom: 1px"></hr>

<a id='lists'></a>

### List Methods

Like we saw with strings above, there are many useful built-in list methods that allow us to perform all types of manipulations on our list objects. We will look at a few very common methods below, but you can find many more [here](http://www.python-ds.com/python-3-list-methods).

In [ ]:
# I create my exmple list by surrounding a sequence of elements with square brackets.

color_list_original = ['red', 'yellow', 'violet', 'salmon']

In [ ]:
# I can also use the `list()` constructor to create a list from another type of sequence.

clothes = ('shirt', 'pants', 'skirt', 'socks')
type(clothes)

tuple

In [ ]:
clothes_list_original = list(clothes)
type(clothes_list_original)

list

I can use the `.copy()` method to create a copy of my sequence if I want to keep my original list intact because many of the list methods below perform in-place operations; this means they mutate my original list.

In [ ]:
color_list = color_list_original.copy()
clothes_list = clothes_list_original.copy()

___

#### `.append()`, `.extend()`

I can add an item to the end of an existing list, and I can add a list to another list by joining them together respectively. *These manipulations will mutate or change my original list.*
```python
list.append(element)

list.extend(iterable)
```

In [ ]:
# I can add an item, shoes, to my clothes_list.

clothes_list.append('shoes')

In [ ]:
# My original clothes_list now contains the appended item, shoes.

clothes_list

['shirt', 'pants', 'skirt', 'socks', 'shoes']

In [ ]:
color_list2 = ['indigo', 'orange']

In [ ]:
# I can add the items in color_list2 to my original color_list.

color_list.extend(color_list2)

In [ ]:
color_list

['red', 'yellow', 'violet', 'salmon', 'indigo', 'orange']

In [ ]:
# If I tried to use .append() to add my two lists together, this would happen...

clothes_list.append(color_list2)

In [ ]:
# I get a nested list object. If you don't want this, use .extend().

clothes_list

['shirt', 'pants', 'skirt', 'socks', 'shoes', ['indigo', 'orange']]

In [ ]:
# Redefine lists to use in examples.

color_list = color_list_original.copy()
clothes_list = clothes_list_original.copy()

In [ ]:
# I can also add two lists using the + operator and assign my new list to a variable.

new_list = color_list + clothes_list
new_list

['red', 'yellow', 'violet', 'salmon', 'shirt', 'pants', 'skirt', 'socks']

___

#### `.insert()`, `.remove()`, `.pop()`

I can add an item to a list at a given position, remove the first item from my list that matches my specified value, and remove an item at a specific position from my list and return the item respectively. *These manipulations will mutate or change my original list.*
```python
# I can insert an element into an existing list at a specified index position.

list.insert(index_position, element)

# I can remove the first occurrence of an element in a list.

list.remove(element)

# I can remove an element at a specified index position from a list and return that element.

list.pop(index_position)
```

In [ ]:
# Redefine lists to use in examples.

color_list = color_list_original.copy()
clothes_list = clothes_list_original.copy()

In [ ]:
# I pass the index of the element before which I want to insert my new element, 'aqua'.

color_list.insert(0, 'aqua')

In [ ]:
# Now aqua is the first element in my list. If I used .append(), it would be the last.

color_list

['aqua', 'red', 'yellow', 'violet', 'salmon']

In [ ]:
# I will remove the item 'yellow' from my color_list

color_list.remove('yellow')
color_list

['aqua', 'red', 'violet', 'salmon']

In [ ]:
# I will remove and return the second item in my list, index 1, `red`.

color_list.pop(1)

'red'

In [ ]:
# Notice after I pop 'red', it is removed from my original list as well; it removes and returns the element.

color_list

['aqua', 'violet', 'salmon']

___

#### `.reverse()`, `.sort()`

I can reverse the elements in my list or sort the elements alphabetically.
```python
# I can perform a simple reverse of order on my original list.

list.reverse()

# I can sort my list in ascending/alphabetical order by default, passing no arguments to .sort(), or I can pass arguments for the reverse and key parameters to do way more complex sorts.

list.sort(reverse=True|False, key=function)
```

In [ ]:
# Redefine lists to use in examples.

color_list = color_list_original.copy()
clothes_list = clothes_list_original.copy()

In [ ]:
# I can reverse the elements in my original list.

color_list.reverse()
color_list

['salmon', 'violet', 'yellow', 'red']

In [ ]:
# I can sort the elements in my original list alphabetically by default.

clothes_list.sort()
clothes_list

['pants', 'shirt', 'skirt', 'socks']

In [ ]:
# I can sort in reverse alphabetical order, too!

clothes_list.sort(reverse=True)
clothes_list

['socks', 'skirt', 'shirt', 'pants']

In [ ]:
# I can pass a function, built-in or created, as a sorting key or criteria. Here I sort by string length!

color_list.sort(key=len)
color_list

['red', 'salmon', 'violet', 'yellow']

___

### List Indexing & Slicing

Once you understand positive and negative string indexing and slicing, you understand positive and negative list indexing. The difference is that the index number represents an element in your list (or tuple) instead of a character in your string.
![List Indexing Image](https://railsware.com/blog/wp-content/uploads/2018/10/first-slice.png)

In [ ]:
color_list = color_list_original.copy()
color_list

['red', 'yellow', 'violet', 'salmon']

In [ ]:
# The default start is 0 and stop is exclusive, just like slicing strings.

color_list[:4]

['red', 'yellow', 'violet', 'salmon']

In [ ]:
# I can use indexing to reverse my list by selecting all elements ([::]) and passing a step of -1.

color_list[::-1]

['salmon', 'violet', 'yellow', 'red']